body{
    background-color:pink ;
    margin: 0;
    padding: 0;
}
#cabecera{
    height: 60px;
    background-color: cornflowerblue;
}

#cabecera p{
font-size: 30px;
margin-top: 0px;
text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color:white;
line-height: 80px;
}

#contenedor{
height: 500px;
width: 500px;
background-color: blue;
margin: 0 auto;
}

.cuadraditos{
    height: 120px;
    width: 120px;
    background-color: aqua;
    margin:15px ;
    float: left;
    
}
#cuadradito1{
    background-color: beige;
    text-align: center;
    line-height: 90px;
}
p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    line-height: 90px;
}
#circulo{
    border-radius: 50%;
    background-color: aliceblue;
}